<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>points</key>
	<array>
		<array>
			<string>50.468940</string>
			<string>30.486534</string>
			<string>Ул. Татарская</string>
		</array>
		<array>
			<string>50.472597</string>
			<string>30.483493</string>
			<string>Институт автоматики</string>
		</array>
		<array>
			<string>50.474833</string>
			<string>30.478879</string>
			<string>Ул. Нагорная</string>
		</array>
		<array>
			<string>50.472221</string>
			<string>30.475441</string>
			<string>Делегатский пер.</string>
		</array>
		<array>
			<string>50.469725</string>
			<string>30.472549</string>
			<string>Ул. Багговутовская</string>
		</array>
		<array>
			<string>50.467291</string>
			<string>30.472410</string>
			<string>Ул. Якира</string>
		</array>
		<array>
			<string>50.464398</string>
			<string>30.478654</string>
			<string>Ул. Герцена</string>
		</array>
		<array>
			<string>50.462384</string>
			<string>30.482291</string>
			<string>Ст. м. Лукьяновская</string>
		</array>
		<array>
			<string>50.461622</string>
			<string>30.473890</string>
			<string>Ул. Дегтярёвская</string>
		</array>
		<array>
			<string>50.458514</string>
			<string>30.473477</string>
			<string>Ул. Молдавская (по требованию)</string>
		</array>
		<array>
			<string>50.455605</string>
			<string>30.473000</string>
			<string>Ул. Маршала Рыбалко</string>
		</array>
		<array>
			<string>50.453490</string>
			<string>30.469132</string>
			<string>Ул. В. Ярмолы</string>
		</array>
		<array>
			<string>50.451520</string>
			<string>30.466874</string>
			<string>Ст. м. Политехнический институт</string>
		</array>
	</array>
	<key>route</key>
	<array>
		<array>
			<string>50.468940</string>
			<string>30.486534</string>
		</array>
		<array>
			<string>50.469947</string>
			<string>30.486620</string>
		</array>
		<array>
			<string>50.470258</string>
			<string>30.486647</string>
		</array>
		<array>
			<string>50.470459</string>
			<string>30.486663</string>
		</array>
		<array>
			<string>50.470644</string>
			<string>30.486668</string>
		</array>
		<array>
			<string>50.470736</string>
			<string>30.486668</string>
		</array>
		<array>
			<string>50.470821</string>
			<string>30.486652</string>
		</array>
		<array>
			<string>50.470879</string>
			<string>30.486604</string>
		</array>
		<array>
			<string>50.470924</string>
			<string>30.486529</string>
		</array>
		<array>
			<string>50.471064</string>
			<string>30.486148</string>
		</array>
		<array>
			<string>50.471507</string>
			<string>30.484834</string>
		</array>
		<array>
			<string>50.471531</string>
			<string>30.484769</string>
		</array>
		<array>
			<string>50.471579</string>
			<string>30.484721</string>
		</array>
		<array>
			<string>50.472597</string>
			<string>30.483493</string>
		</array>
		<array>
			<string>50.474348</string>
			<string>30.481454</string>
		</array>
		<array>
			<string>50.474488</string>
			<string>30.481277</string>
		</array>
		<array>
			<string>50.474570</string>
			<string>30.481143</string>
		</array>
		<array>
			<string>50.474611</string>
			<string>30.481020</string>
		</array>
		<array>
			<string>50.474659</string>
			<string>30.480886</string>
		</array>
		<array>
			<string>50.474686</string>
			<string>30.480730</string>
		</array>
		<array>
			<string>50.474703</string>
			<string>30.480542</string>
		</array>
		<array>
			<string>50.474734</string>
			<string>30.480360</string>
		</array>
		<array>
			<string>50.474816</string>
			<string>30.479003</string>
		</array>
		<array>
			<string>50.474833</string>
			<string>30.478879</string>
		</array>
		<array>
			<string>50.474853</string>
			<string>30.478692</string>
		</array>
		<array>
			<string>50.474857</string>
			<string>30.478611</string>
		</array>
		<array>
			<string>50.474826</string>
			<string>30.478541</string>
		</array>
		<array>
			<string>50.474758</string>
			<string>30.478439</string>
		</array>
		<array>
			<string>50.474440</string>
			<string>30.478075</string>
		</array>
		<array>
			<string>50.473539</string>
			<string>30.476964</string>
		</array>
		<array>
			<string>50.473122</string>
			<string>30.476465</string>
		</array>
		<array>
			<string>50.472221</string>
			<string>30.475441</string>
		</array>
		<array>
			<string>50.470995</string>
			<string>30.473933</string>
		</array>
		<array>
			<string>50.470831</string>
			<string>30.473788</string>
		</array>
		<array>
			<string>50.470473</string>
			<string>30.473386</string>
		</array>
		<array>
			<string>50.469725</string>
			<string>30.472549</string>
		</array>
		<array>
			<string>50.469633</string>
			<string>30.472458</string>
		</array>
		<array>
			<string>50.469582</string>
			<string>30.472426</string>
		</array>
		<array>
			<string>50.469548</string>
			<string>30.472426</string>
		</array>
		<array>
			<string>50.469507</string>
			<string>30.472463</string>
		</array>
		<array>
			<string>50.469428</string>
			<string>30.472646</string>
		</array>
		<array>
			<string>50.469261</string>
			<string>30.472946</string>
		</array>
		<array>
			<string>50.469210</string>
			<string>30.472978</string>
		</array>
		<array>
			<string>50.469158</string>
			<string>30.473005</string>
		</array>
		<array>
			<string>50.469025</string>
			<string>30.473054</string>
		</array>
		<array>
			<string>50.468926</string>
			<string>30.473064</string>
		</array>
		<array>
			<string>50.468854</string>
			<string>30.473080</string>
		</array>
		<array>
			<string>50.468783</string>
			<string>30.473054</string>
		</array>
		<array>
			<string>50.467741</string>
			<string>30.471836</string>
		</array>
		<array>
			<string>50.467697</string>
			<string>30.471798</string>
		</array>
		<array>
			<string>50.467642</string>
			<string>30.471809</string>
		</array>
		<array>
			<string>50.467598</string>
			<string>30.471852</string>
		</array>
		<array>
			<string>50.467499</string>
			<string>30.472007</string>
		</array>
		<array>
			<string>50.467291</string>
			<string>30.472410</string>
		</array>
		<array>
			<string>50.466413</string>
			<string>30.474287</string>
		</array>
		<array>
			<string>50.465720</string>
			<string>30.475805</string>
		</array>
		<array>
			<string>50.464398</string>
			<string>30.478654</string>
		</array>
		<array>
			<string>50.463138</string>
			<string>30.481395</string>
		</array>
		<array>
			<string>50.463077</string>
			<string>30.481513</string>
		</array>
		<array>
			<string>50.463039</string>
			<string>30.481610</string>
		</array>
		<array>
			<string>50.462998</string>
			<string>30.481663</string>
		</array>
		<array>
			<string>50.462872</string>
			<string>30.481771</string>
		</array>
		<array>
			<string>50.462384</string>
			<string>30.482291</string>
		</array>
		<array>
			<string>50.462244</string>
			<string>30.482431</string>
		</array>
		<array>
			<string>50.462203</string>
			<string>30.482468</string>
		</array>
		<array>
			<string>50.462148</string>
			<string>30.482473</string>
		</array>
		<array>
			<string>50.462080</string>
			<string>30.482441</string>
		</array>
		<array>
			<string>50.462022</string>
			<string>30.482361</string>
		</array>
		<array>
			<string>50.461769</string>
			<string>30.481792</string>
		</array>
		<array>
			<string>50.461748</string>
			<string>30.481722</string>
		</array>
		<array>
			<string>50.461738</string>
			<string>30.481647</string>
		</array>
		<array>
			<string>50.461738</string>
			<string>30.481540</string>
		</array>
		<array>
			<string>50.461748</string>
			<string>30.481444</string>
		</array>
		<array>
			<string>50.461848</string>
			<string>30.481036</string>
		</array>
		<array>
			<string>50.461851</string>
			<string>30.480982</string>
		</array>
		<array>
			<string>50.461844</string>
			<string>30.480902</string>
		</array>
		<array>
			<string>50.461817</string>
			<string>30.480891</string>
		</array>
		<array>
			<string>50.461769</string>
			<string>30.480864</string>
		</array>
		<array>
			<string>50.461690</string>
			<string>30.480778</string>
		</array>
		<array>
			<string>50.461714</string>
			<string>30.480054</string>
		</array>
		<array>
			<string>50.462005</string>
			<string>30.474105</string>
		</array>
		<array>
			<string>50.461984</string>
			<string>30.474008</string>
		</array>
		<array>
			<string>50.461953</string>
			<string>30.473955</string>
		</array>
		<array>
			<string>50.461878</string>
			<string>30.473917</string>
		</array>
		<array>
			<string>50.461776</string>
			<string>30.473901</string>
		</array>
		<array>
			<string>50.461622</string>
			<string>30.473890</string>
		</array>
		<array>
			<string>50.459751</string>
			<string>30.473633</string>
		</array>
		<array>
			<string>50.458514</string>
			<string>30.473477</string>
		</array>
		<array>
			<string>50.457275</string>
			<string>30.473306</string>
		</array>
		<array>
			<string>50.457172</string>
			<string>30.473300</string>
		</array>
		<array>
			<string>50.457063</string>
			<string>30.473300</string>
		</array>
		<array>
			<string>50.456981</string>
			<string>30.473327</string>
		</array>
		<array>
			<string>50.456192</string>
			<string>30.474100</string>
		</array>
		<array>
			<string>50.456137</string>
			<string>30.474116</string>
		</array>
		<array>
			<string>50.456083</string>
			<string>30.474084</string>
		</array>
		<array>
			<string>50.456045</string>
			<string>30.474025</string>
		</array>
		<array>
			<string>50.455888</string>
			<string>30.473644</string>
		</array>
		<array>
			<string>50.455605</string>
			<string>30.473000</string>
		</array>
		<array>
			<string>50.455290</string>
			<string>30.472356</string>
		</array>
		<array>
			<string>50.455215</string>
			<string>30.472217</string>
		</array>
		<array>
			<string>50.453490</string>
			<string>30.469132</string>
		</array>
		<array>
			<string>50.453104</string>
			<string>30.468467</string>
		</array>
		<array>
			<string>50.452865</string>
			<string>30.468059</string>
		</array>
		<array>
			<string>50.452678</string>
			<string>30.467786</string>
		</array>
		<array>
			<string>50.452496</string>
			<string>30.467571</string>
		</array>
		<array>
			<string>50.452264</string>
			<string>30.467335</string>
		</array>
		<array>
			<string>50.452066</string>
			<string>30.467180</string>
		</array>
		<array>
			<string>50.451895</string>
			<string>30.467083</string>
		</array>
		<array>
			<string>50.451718</string>
			<string>30.466981</string>
		</array>
		<array>
			<string>50.451520</string>
			<string>30.466874</string>
		</array>
	</array>
</dict>
</plist>
